.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galleryHeader {
    text-align: center;
    margin-top: 50px;
}

.galleryList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.galleryListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #000;
    padding: 40px 70px;
    margin-block: 15px;
    width: 50%;
    border-radius: 10px;
}

.pieceHeader {
    margin: 0;
}

.imageContainer img {
 border-radius: 10px;
 margin: 20px;
}

.caption {
    font-weight: bold;
}

@media (max-width: 768px) {
    .galleryListItem {
        width: 100%;
    }
}