.formContainer {
display: flex; 
flex-direction: column;
align-items: center;
min-width: 100vw;
min-height: 100vh;
}

.formInput, 
.textArea {
display: block;
}

.textArea {
    width: 100%;
}

.formUnorderedList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formListItem {
    list-style: none;
}

.formButton {
    background-color: #000; 
color: #fff;
border: none;
padding: 10px 24px;
border-radius: 8px;
margin:20px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}